<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.xbo1.hybrid_stack_plugin">
    <application>
        <activity android:name=".HSFlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"/>
    </application>
</manifest>
